body {
  text-align: center;
  background-color: #111;
  margin: 0;
}

.controls {
  position: absolute;
  color: white;
  text-align: left;
  font-family: monospace;
  max-width: 15em;
  margin: 4px;
}

.buttons {
  text-align: center;
  cursor: pointer;
  margin: 8px 0;
  color: white;
  width: 100%;
}

.buttons td {
  background-color: #555;
  border-radius: 3px;
  height: 64px;
  background-repeat: no-repeat;
  background-position: center;
}

img {
  height: 100%;
}

.start {
  background-image: url(https://raw.githubusercontent.com/google/material-design-icons/master/av/1x_web/ic_play_arrow_white_24dp.png)
}

.stop {
  background-image: url(https://raw.githubusercontent.com/google/material-design-icons/master/av/1x_web/ic_stop_white_24dp.png)
}

.zoom-in {
  background-image: url(https://raw.githubusercontent.com/google/material-design-icons/master/action/1x_web/ic_zoom_in_white_24dp.png)
}

.zoom-out {
  background-image: url(https://raw.githubusercontent.com/google/material-design-icons/master/action/1x_web/ic_zoom_out_white_24dp.png)
}
