.container > div {
  margin: 1rem auto;
}

.card {
  max-width: 512px;
}

.social-links {
  white-space: nowrap;
}

.social-links > * {
  margin: 8px;
  display: inline;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}